# Application
APP_NAME=
APP_VERSION=
DEBUG=
# Scheduling
SCRAPE_SCHEDULE_TIME=
TIMEZONE=
# Scraping
TARGET_URL=""
MAX_CRAWL_DEPTH=
REQUEST_TIMEOUT=
MAX_CONCURRENT_REQUESTS=
RETRY_ATTEMPTS=
# Storage
HTML_STORAGE_PATH=
MARKDOWN_STORAGE_PATH=
# Logging
LOG_LEVEL=
LOG_FILE=

GOOGLE_API_KEY=
CHROMA_PATH=""
DATABASE_URL=""