selenium
undetected-chromedriver
markdownify
aiofiles
pydantic-settings
starlette
black
pylint
mypy
flake8
pytest
pytest-asyncio
pytest-mock
pytest-cov
httpx
fastapi
uvicorn
pydantic
coverage
ruff
html2text
beautifulsoup4
APScheduler
setuptools